mongodb:
  use_ppa: True
  version: 2.6.4
  package_name: mongodb-10gen
  mongo_directory: /mongodb
  include_tools: True
  manage_replica_set: False
  reconfigure_replica_set: False
  config_svr: False
  shard_svr: False
  settings:
    db_path: /mnt/data
    log_path: /var/log/mongodb
    log_append: True
    rest: True
